<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Lớp Học</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/danh-sach-hoc-sinh" method="GET">Danh Sách Học Sinh</a>
        <a href="/them-hoc-sinh-page" method="GET">Thêm Học Sinh</a>
        <a href="/danh-sach-phu-huynh" method="GET">Danh Sách Phụ Huynh</a>
        <a href="/them-phu-huynh-page" method="GET">Thêm Phụ Huynh</a>
        <a href="/danh-sach-giao-vien" method="GET">Danh Sách Giáo Viên</a>
        <a href="/them-giao-vien-page" method="GET">Thêm Giáo Viên</a>
        <a class="active" href="/danh-sach-lop-hoc" method="GET">Danh Sách Lớp Học</a>
        <a href="/them-lop-hoc-page" method="GET">Thêm Lớp Học</a>
    </div>
    <div>
        <div class='table-container'>
            <h2><b>Danh Sách Lớp Học</b></h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Lớp</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i< dataLopHoc.length; i++){ %>
                        <tr>
                            <td>
                                <%= dataLopHoc[i].id %>
                            </td>
                            <td>
                                <%= dataLopHoc[i].tenLop %>
                            </td>
                            <td>
                                <form action="/thong-tin-lop-hoc/<%= dataLopHoc[i].id %>" method="GET">
                                    <button class="btn6" type="submit">Chi Tiết</button>
                                </form>
                            </td>
                            <td>
                                <form action="/delete-lop-hoc" method="POST">
                                    <input type="text" hidden value="<%= dataLopHoc[i].id %>" name="idLopHoc">
                                    <button class="btn6" type="submit"
                                        onclick="return confirm('Đưa Học Sinh Này Vào Danh Sách `Đã Nghỉ Học` ?')">Xóa</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>

            </table>

        </div>


    </div>

</body>

</html>