<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đã đổit mật khẩu</title>
    <link rel="stylesheet" href="/css/loiPage.css">
</head>

<body>
    <div class="h1-loi-xoa-PH">
        <br>
        <h1>Đã Cập Nhật Mật Khẩu Mới</h1>
        <br>
        <h1>Vui lòng đăng nhập lại</h1>
        <form action="/dang-nhap" method="get">
            <input class="btn6" type="submit" value="Trở Về">
        </form>
    </div>

</body>

</html>