<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <div>
        <div class="btn-DN">
            <form action="/dang-nhap" method="get">
                <div>
                    <button class="btn6" type="submit">Đăng Nhập</button>
                </div>
            </form>
        </div>

        <div class="pannel">
            <!-- <img class="img-pannel" src="/images/truonghoc.png" alt="pannel"> -->
        </div>

        <div class="navbar">
            <a href="/">Trang Chủ</a>
            <div class="dropdown">
                <button class="dropbtn">Giới Thiệu
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="http://ninhkieu.edu.vn/thnguyendu/gioi-thieu/co-cau-to-chuc/ban-giam-hieu">Ban Giám
                        Hiệu</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/gioi-thieu/co-cau-to-chuc/hoi-dong-truong">Hội Đồng
                        Trường</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/gioi-thieu/co-cau-to-chuc/cong-doan">Công Đoàn</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/gioi-thieu/co-cau-to-chuc/to-chuyen-mon">Tổ Chuyên
                        Môn</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/gioi-thieu/co-cau-to-chuc/to-hanh-chinh-van-phong">Tổ
                        Hành
                        Chính - Văn Phòng</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/gioi-thieu/co-cau-to-chuc/ban-thuong-truc-phhs">Ban
                        Thường
                        Trực PHHS</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Kế Hoạch
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="http://ninhkieu.edu.vn/thnguyendu/ke-hoach/hieu-truong">Hiệu Trưởng</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/ke-hoach/pho-hieu-truong">Phó Hiệu Trưởng</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/ke-hoach/cac-to-chuyen-mon">Các Tổ CHuyên Môn</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/ke-hoach/doi-tntp-hcm">Đội TNTP HCM</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/ke-hoach/y-te">Y Tế</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/ke-hoach/tuyen-sinh">Tuyển Sinh</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Tin Tức - Sự Kiện
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="http://ninhkieu.edu.vn/thnguyendu/tin-tuc-su-kien/tin-cua-truong">Tin Của Trường</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/tin-tuc-su-kien/tin-tuc-tu-so">Tin Từ Sở</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/tin-tuc-su-kien/tin-tuc-tu-phong">Tin Từ Phòng</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Thông Báo
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc/thong-bao-tu-so">Thông Báo Từ Sở</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc/thong-bao-tu-phong">Thông Báo Từ
                        Phòng</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc/thong-bao/thong-bao-cua-truong">Thông
                        Báo
                        Của Trường</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Chuyên Môn
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="http://ninhkieu.edu.vn/thnguyendu/tai-nguyen/thu-vien-anh">Thư Viện Ảnh</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/tai-nguyen/video-clip">Video Clip</a>
                </div>
            </div>
            <a href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc">Chuyên Đề Giáo Dục</a>
            <div class="dropdown">
                <button class="dropbtn">Tài Nguyên
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="http://ninhkieu.edu.vn/thnguyendu/tai-nguyen/van-ban">Văn Bản</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/tai-nguyen/van-ban-tu-so">Văn Bản Từ Sở</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/tai-nguyen/van-ban-tu-phong">Văn Bản Từ Phòng</a>
                    <a href="http://ninhkieu.edu.vn/thnguyendu/tai-nguyen/tai-lieu">Tài Liệu</a>
                </div>
            </div>

        </div>
        <div class="carousel">
            <input id="indicator-1" class="carousel-indicator" type="radio" name="indicator" checked>
            <img class="carousel-image" src="/images/roller/anh1.png" alt="image-1">
            <label for="indicator-1" class="carousel-button"></label>

            <input id="indicator-2" class="carousel-indicator" type="radio" name="indicator">
            <img class="carousel-image" src="/images/roller/anh2.png" alt="image-2">
            <label for="indicator-2" class="carousel-button"></label>

            <input id="indicator-3" class="carousel-indicator" type="radio" name="indicator">
            <img class="carousel-image" src="/images/roller/anh3.png" alt="image-3">
            <label for="indicator-3" class="carousel-button"></label>

            <input id="indicator-4" class="carousel-indicator" type="radio" name="indicator">
            <img class="carousel-image" src="/images/roller/anh4.png" alt="image-4">
            <label for="indicator-4" class="carousel-button"></label>

            <input id="indicator-5" class="carousel-indicator" type="radio" name="indicator">
            <img class="carousel-image" src="/images/roller/anh5.png" alt="image-5">
            <label for="indicator-5" class="carousel-button"></label>

            <input id="indicator-6" class="carousel-indicator" type="radio" name="indicator">
            <img class="carousel-image" src="/images/roller/anh6.png" alt="image-6">
            <label for="indicator-6" class="carousel-button"></label>

            <input id="indicator-7" class="carousel-indicator" type="radio" name="indicator">
            <img class="carousel-image" src="/images/roller/anh7.png" alt="image-7">
            <label for="indicator-7" class="carousel-button"></label>

            <input id="indicator-8" class="carousel-indicator" type="radio" name="indicator">
            <img class="carousel-image" src="/images/roller/anh8.png" alt="image-8">
            <label for="indicator-8" class="carousel-button"></label>

            <input id="indicator-9" class="carousel-indicator" type="radio" name="indicator">
            <img class="carousel-image" src="/images/roller/anh9.png" alt="image-9">
            <label for="indicator-9" class="carousel-button"></label>

            <input id="indicator-10" class="carousel-indicator" type="radio" name="indicator">
            <img class="carousel-image" src="/images/roller/anh10.png" alt="image-10">
            <label for="indicator-10" class="carousel-button"></label>
        </div>
        <div class="news-index">
            <h1 class="news-title"> Tin Nổi Bật<table></table>
            </h1>
            <div class="news-block">
                <div class="news">
                    <a
                        href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc/thong-bao/thong-bao-cua-truong/thong-bao-danh-muc-tai-lieu-sach-giao-khoa-su-dung-trong-nha-truong-nam-hoc-2023-2024-cua-truong-th-nguyen-du.html">Thông
                        báo danh mục tài liệu, sách giáo khoa sử dụng trong nhà trường năm học 2023-2024 của trường TH
                        Nguyễn Du</a>
                </div>
                <div class="news-img">
                    <img src="/images/news/news1.png">
                </div>
            </div>
            <br>
            <div class="news-block">
                <div class="news">
                    <a
                        href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc/thong-bao/thong-bao-cua-truong/thong-bao-danh-muc-sach-giao-khoa-lop-4-nam-hoc-2023-2024-cua-truong-th-nguyen-du.html">
                        Thông báo Danh mục Sách giáo khoa lớp 4 Năm học 2023-2024 của trường TH Nguyễn Du</a>
                </div>
                <div class="news-img">
                    <img src="/images/news/news2.png">
                </div>
            </div>
            <br>
            <div class="news-block">
                <div class="news">
                    <a
                        href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc/thong-bao/thong-bao-cua-truong/thong-bao-danh-muc-sach-giao-khoa-lop-4-nam-hoc-2023-2024-cua-truong-th-nguyen-du.html">
                        Hoạt Động Mừng Xuân Quý Mão 2023</a>
                </div>
                <div class="news-img">
                    <img src="/images/news/news3.png">
                </div>
            </div>
            <br>
            <div class="news-block">
                <div class="news">
                    <a
                        href="http://ninhkieu.edu.vn/thnguyendu/tin-tuc-su-kien/tin-cua-truong/hoi-thi-viet-chu-dep-cap-truong-nam-hoc-2022-2023.html">
                        Hội thi Viết chữ đẹp cấp trường năm học 2022-2023</a>
                </div>
                <div class="news-img">
                    <img src="/images/news/news4.png">
                </div>
            </div>
            <br>
            <div class="news-block">
                <div class="news">
                    <a
                        href="http://ninhkieu.edu.vn/thnguyendu/tin-tuc-su-kien/tin-cua-truong/giao-duc-ky-nang-song-cho-hoc-sinh.html">
                        Giáo dục Kỹ năng sống cho học sinh</a>
                </div>
                <div class="news-img">
                    <img src="/images/news/news5.png">
                </div>
            </div>
            <br>
            <div class="news-block">
                <div class="news">
                    <a
                        href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc/thong-bao/thong-bao-cua-truong/thong-bao-phuong-an-chu-dong-ung-pho-giam-thieu-thiet-hai-do-trieu-cuong-thang-muoi-am-lich.html">
                        Thông báo phương án chủ động ứng phó giảm thiểu thiệt hại do triều cường tháng Mười Âm lịch
                    </a>
                </div>
                <div class="news-img">
                    <img src="/images/news/news6.png">
                </div>
            </div>

        </div>
    </div>
    <div>
        <footer class="footer">
            <div class="waves">
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
                <div class="wave" id="wave4"></div>
            </div>
            <ul class="social-icon">
                <li class="social-icon__item"><a class="social-icon__link"
                        href="https://www.facebook.com/profile.php?id=100063999132975">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a></li>
                <li class="social-icon__item"><a class="social-icon__link" href="#">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a></li>
                <li class="social-icon__item"><a class="social-icon__link" href="#">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a></li>
                <li class="social-icon__item"><a class="social-icon__link" href="#">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a></li>
            </ul>
            <ul class="menu">
                <li class="menu__item"><a class="menu__link" href="/">Trang Chủ</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Thông Tin</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Dịch Vụ</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Đội Ngũ</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Liên Hệ</a></li>

            </ul>
            <p>Sở Giáo Dục Và Đào Tạo Tp Cần Thơ | Trường Tiểu Học Nguyễn Du</p>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </div>
</body>

</html>