<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lỗi - Chưa Có Lớp</title>
    <link rel="stylesheet" href="/css/loiPage.css">
</head>

<body>
    <div class="loi-tk">
        <h1>Lỗi: Tài Khoản Này Hiện Chưa Là Chủ Nhiệm Của Lớp Nào Cả!</h1>
        <br>
        <form>
            <input class="btn6" type="button" value="OK" onclick="history.back()">
        </form>
    </div>
</body>

</html>