<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <br>
    <div class='create-user-container'>
        <form action="/reset-mat-khau" method="POST">
            <h1><b>Quên mật khẩu?</b></h1> <br>
            <label>Nhập Mật Khẩu Mới:</label>
            <input type="text" name="matKhauMoi" /><br>
            <br>
            <div>
                <button class="btn6" type="submit">Nhập mật khẩu mới</button>
            </div>
        </form>

    </div>
</body>

</html>