<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <br>
    <div class='create-user-container'>
        <form action="/gui-ma-xac-minh" method="POST">
            <h1><b>Quên mật khẩu?</b></h1> <br>
            <label>Nhập tài khoản của bạn:</label>
            <input type="text" name="taikhoan" /><br>
            <br>
            <div>
                <button class="btn6" type="submit">Gửi mã xác minh</button>
            </div>
        </form>
        <div>
            <button class="btn6" onclick="goBack()">Trở về</button>
        </div>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</body>

</html>