<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang của Admin</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="topnav">
        <a href="/danh-sach-hoc-sinh" method="GET">Danh Sách Học Sinh</a>
        <a href="/them-hoc-sinh-page" method="GET">Thêm Học Sinh</a>
        <a href="/danh-sach-phu-huynh" method="GET">Danh Sách Phụ Huynh</a>
        <a href="/them-phu-huynh-page" method="GET">Thêm Phụ Huynh</a>
        <a href="//danh-sach-giao-vien" method="GET">Danh Sách Giáo Viên</a>
        <a href="/them-giao-vien-page" method="GET">Thêm Giáo Viên</a>
        <a href="/danh-sach-lop-hoc" method="GET">Danh Sách Lớp Học</a>
        <a href="/them-lop-hoc-page" method="GET">Thêm Lớp Học</a>
    </div>


</body>

</html>