.bang-diem {}

.table-sk {
    margin-left: 3%;
    margin-right: 3%;
}

.table-thong-tin {
    margin-left: 3%;
    margin-right: 3%;
}

.heading {
    margin-left: 3%;
}

div.table-thong-tin table tr {
    height: 70px
}

div.table-sk table tr {
    height: 70px
}