.bang-diem {
    margin-top: 1%;
}

.table-sk {
    margin-left: 3%;
    margin-right: 3%;
}

.table-thong-tin {
    margin-left: 3%;
    margin-right: 3%;
}

.heading {
    margin-left: 3%;
}

div.bang-diem table tr {
    height: 70px
}